[Unit]
Description=mono fastcig
After=network.target remote-fs.target nss-lookup.target
 
[Service]
Type=simple
ExecStart=/usr/bin/fastcgi-mono-server4 /applications=/:/root/MonoMVC5Demo/MonoMVC5Demo/ /socket=tcp:127.0.0.1:9000 >/var/log/fastcgi-mono 2>&1 &
ExecStop=/bin/kill -s QUIT $MAINPID
 
[Install]
WantedBy=multi-user.target
